<!--indexをトップページ扱いにしようかな。モデルとコントローラがずれてると参考記事と差分があって迷いそうだわ-->
<h2>index</h2>
<p>
    <%= link_to "新規投稿", new_post_path %>
</p>
<div class="container">
    <div id="map"></div>
</div>

<%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
