@use '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  box-sizing:  border-box;
}

#map {
  width: 100%;
  height: calc(100vh - 88px - 179px);
}
//heightに関しては、レイアウト確認後修正。現状は教材の数値を使用

.push {
  padding: 0px 0px 60px 0px;
}
